body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F5F7FA;
}

.main-container {
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    background-color: #ffff;
    margin: 40px auto;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

/* main content */

.main-content-container {
    width: 830px;
    margin: 100px 90px;

}

.about-me-profession {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    margin: 0px 0px 20px 0px ;
}

.about-me-name {
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 55px;
    margin: 0px 0px 25px 0px ;
}

.about-me-description {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    width: 400px;
    margin: 0px 0px 40px 0px ;
}

.projects-work-education-titles {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: black;
    margin-bottom: 10px;
}

/* my projects */

.my-projects-container {
        margin-bottom: 50px;
}

.my-projects-list {
    padding: 0 0 0 18px;
}

.my-projects-item {
    color: black;
    font-weight: bold;
}

.my-projects-text {
    font-style: normal;
    font-weight: normal;    
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.my-projects-link {
    font-style: normal;
    font-weight: normal;    
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    margin-left: 10px;
}

.my-projects-bracket {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}

/* my work experience */

.work-education-orange-title {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;
}

.my-work-experience-position {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #000000 ;
    margin: 10px 0 10px 0
}

.my-work-experience-period {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    margin: 0 0 8px 0
    
}

.my-work-experience-divider {
    color: black;
}

.my-work-experience-duties-list {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    padding-left: 18px;
    margin: 0 0 15px 0;
    color: #595959;
}

.my-work-experience-company-section {
    margin-bottom: 15px;
}

/* education */

.education-university {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;
    margin: 0 0 10px 0;
}

.education-qualification {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin: 0 0 10px 0;
}

.education-period {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    margin: 0 0 8px 0
}


.education-container {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    margin: 0 0 8px 0
}

/* sidebar section */

.sidebar-container {
    width: 370px;
    padding: 40px 0 0 0;
    background: #1E2939;
    color: white;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

.sidebar-text-sections {
margin-left: 40px;

}

.sidebar-photo {
    margin-bottom: 50px;
}

.sidebar-contacts-header {
    margin: 0px 0px;
    padding-bottom: 8px;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: white;
}
 
.sidebar-tech-skills-header,
.soft-skills-header {
    margin-top: 50px;
    margin-bottom: 0px;
    padding-bottom: 8px;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: white;
}

/* contacts section */

.contacts-type {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: white;
    margin-right: 10px;
}

.contacts-link {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;    
    color: #8E949C;
    padding-top: 0px;
}

/* tech and soft skills sections*/

.sidebar-lists {
    margin: 0 0 0 15px;
    padding: 0px;
}

.list-bullets {
    font-style: normal;
    color: #FB6D3A;
    padding: 3px 0px;

}

.list-text-item {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: white;
}